* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.clear {
  clear: both;
}

body {
  width: 1400px;
  background-image: url(challenge_1/images/bg.jpg);
}

main {
  background-color: white;
  width: 1020px;
  height: 1200px;
  margin: auto;
}

header {
  font-family: "Josefin Sans";
  background-color: black;
  height: 380px;
  text-align: center;
}

nav {
  padding: auto;
}

nav ul {
  height: 60px;
  padding-left: 150px;
  padding-right: 150px;
}

nav li {
  float: left;
  list-style-type: none;
  padding:20px;
}

nav li a {
  text-decoration: none;
  color: white;
}


.yellow {
  color: #cfa205;
}

.titre1 {
  font-size: 133px;
  padding: 70px;
}
.titre2 {
  font-size: 18px;
}

header .fa-circle {
  font-size: 8px;
}

.titre2 .fa-circle {
    vertical-align: 4px;
}

.menu-btn .fa-facebook {
  font-size: 20px;
}

.menu-btn .fa-twitter {
  font-size: 20px;
}

.menu-btn .fa-google-plus {
  font-size: 20px;
}

.menu-btn .fa-pinterest {
  font-size: 20px;
}

.menu-btn .fa-youtube-play {
  font-size: 20px;
}

.menu-btn {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e8e8e8;
  height: 60px;
}

.menu-btn a {
  text-decoration: none;
  color: #7a7a7a;
}

.txt {
  width: 900px;
  height: 210px;
  margin: auto;
  padding-bottom: 60px;
  padding-top: 60px;
  line-height: 30px;
  text-align: center;
  font-family: "Bitter";
  font-size: 18px;
  color: #7a7a7a;
  border-bottom: solid 2px #e8e8e8;
}

.art {
  font-family: "Bitter";
  padding-top: 60px;
  margin: auto;
}

.global-art {
  width: 265px;
  background-color: white;
  width: 260px;
  height: 480px;
  margin-left: 60px;
  float: left;
}

.txt-art {
  line-height: 25px;
  font-size: 14px;
  color: #7a7a7a;
}

.txt-art h1 {
  padding-top: 20px;
  color: black;
}

.txt-art p {
  /*width: 265px;*/
  padding-top: 20px;
}
